<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<style>
    .cart{
        width: 70%;
        align-self: center;
        border: 1px solid;
        text-align: center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: url("img/cover.png");
        background-position: center;
        padding: 20px 15% 20px 15%;
        background-image: linear-gradient(to right, #034e6b, #e2f3f3);
    }
</style>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<body>
    <div class="cart">
        <h1>Your Cart</h1>
        <h2>seller</h2>
        <h5>0x4A006ECe8C432Dd33284B5238BC70e55307667b6</h5>
    </div>
</body>
</html>